
<section id="items">
<div class="form-container">
      <div class="logo-container">
        Forgot Password
      </div>

      <form class="form">
        <div class="form-group">            
            <input type="text" id="userId" name="userId" placeholder="Enter your User ID" [(ngModel)]="userId"  (ngModelChange)="onUserIdChange($event)">        
        </div>
        <div class="errorText">{{errorText}}</div>
        <br>
        <button class="form-submit-btn" type="submit"(click)="searchUser()" >Submit</button>
        <br>
    <div id="emailAndPhone" *ngIf="isUserExist">
      
            <div class="form-group">
                <div class="radio-group">
                  <h4>Please Select</h4>

                  <input type="radio" id="radio2" name="radio-group" class="radio-input" [(ngModel)]="selectedValue" value="email">
                  <label for="radio2" class="radio-label">
                    <span class="radio-inner-circle"></span>
                    {{email}}
                  </label>                
                </div>
                <div class="errorText">{{optionErroText}}</div>
                <button class="form-submit-btn" type="submit" (click)="requestPassword()">Request the Password</button>
              </div>
              
    </div>

       
      </form>
  
    </div>
</section>