.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
       
}  
.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid black;
  
  
}
.card-img-top{ 
    height: 400px;
}
   
.shadow {
    box-shadow: inset 0 -3em 3em rgba(196, 76, 76, 0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}
   
.images{
    text-align: center;
}

.card-body{  
  justify-content: center;
  align-items: center;
  display: grid;
}
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.single-image .col-12 {
  max-width:  100%; 
}

.boardComment {
   justify-content: center;
   text-align: center;
    max-height: 200px; 
    overflow-y: auto; 
  
  }
.likeText{
    font-size: 10px;
    color:red;
}
.card-column {
  margin-bottom: 20px; 
}

.card {
  margin-right: 10px; 
}
#currentMemberId{
    font-size: 15px;
}
.btnDeleteDiv{
  text-align: right;
}

.btnDelete{
  color: #2192ff;;
  background-color: transparent;
  border: none;
}