
<div class="card">
  <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>SET</th>
        <th>REPS</th>
        <th>Description</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td  style="text-align: center;">
          {{products[i].setCount}}
      
        </td>
        <td style="text-align: center;">
          <input 
            type="number" 
            [(ngModel)]="products[i].repCount" 
            (change)="onRepCountChange(i)" 
            min="0"
          />
        </td>
        <td style="text-align: center;">
          <textarea 
        [(ngModel)]="products[i].description" 
        (change)="onDescriptionChange(i)"
        style="width: 70%; height: 60px; box-sizing: border-box; text-align: center; resize: vertical;"
      ></textarea>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="btnDiv">
  <button class="addRowBtn" (click)="addRow()">
   Add Exercise
   <span></span>
  </button>
 
</div>
