
<div class="container">
  <div class="row">
    <!-- Donut Chart -->
     <!-- following graph shows how many sets you worked out for each part-->
    <div class="col-md-6 mb-4">
      <p>Total WorkoutSet Status</p>
      <div class="canvas-container">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
    <!-- Bar Chart -->
     <!--- following graph shows how many sets you worked out each months-->
    <div class="col-md-6 mb-4">
      <p>Monthly Workout Total Sets Track</p>
      <div class="canvas-container">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>