
<div *ngIf="username != null; else notLoggedIn">
<div class="container">
    <h2 class="heading">DAILY WORKOUT TRACKER</h2>
 
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Select Part:</mat-label>
        <mat-select formControlName="exercise">
          <mat-option *ngFor="let exercise of exercises" [value]="exercise">{{ exercise }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('exercise')?.hasError('required')">
          Exercise selection is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date')?.hasError('required')">
          Date is required
        </mat-error>
      </mat-form-field>
      
  
    
      
    </form>
  </div>
 <div class="inputContainer"  [ngStyle]="{'display': display}">
  <div class="inputBox" style="text-align: center;">
    <input placeholder="Write Exercise here..." class="input" type="text" required="" [(ngModel)]="currentExercise" (input)="currentInputValue()">
   
  </div>
 </div>  
 <br>

 <div class="containerTable" [ngStyle]="{'display': displayTable}">
  <app-table (dataChange)="countChange($event)"/>
</div>

<div class="containerTable" [ngStyle]="{'display': displayTable}">
 <button 
  mat-raised-button 
   color="primary" 
   [disabled]="form.invalid" 
  class="upload-button" 
  (click)="UploadExercise()">
   Upload Exercise
</button>
</div>
</div>
<ng-template #notLoggedIn>
  <div class="container">
      <app-helper />
  </div>
</ng-template>