@import '@angular/material/prebuilt-themes/indigo-pink.css';


    .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containerTable{
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
  
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #212121;
  border: 1px solid#212121;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 1em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: #e8e8e8;
  letter-spacing: 1px;
  border: 1px solid #212121;
  color: #212121;
}
.inputContainer{
  padding: 0 100px ;
}

/* Button */

 .upload-button {
  display: block;
  width: 200px;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.upload-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.upload-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
