<br>
<div class="container">
    <h4>Share your Images</h4>
  <div class="card flex justify-content-center">
        <p-toast />
        <p-fileUpload 
            mode="basic" 
            chooseLabel="Choose" 
            chooseIcon="pi pi-upload"
            name="demo[]" 
            url="https://www.primefaces.org/cdn/api/upload.php" 
            accept="image/*" 
            maxFileSize="1000000" 
            (onUpload)="onUpload($event)" />
    </div>
</div>
<br>
<hr>
<div>
    <app-my-chart/>    
</div>
<hr>

<div>
    <app-share/>
</div>