<section class="loginSection">
<div class="container">
    <div class="heading">Sign In</div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <span class="forgot-password"><a routerLink="signup">Create an Account</a></span>
      <span class="forgot-password"><a href="#">Forgot password?</a></span>
      <input class="login-button" type="submit" value="Sign In">
      
    </form>

  
  </div>
</section>