<section class="loginSection">
  <div class="container">
    <div class="heading">SIGN IN</div>
    <form class="form" (ngSubmit)="authentication()" *ngIf="!isRegister">
      <input
        required
        class="input"
        type="text"
        name="userId"
        [(ngModel)]="loginInfo.userId"
        placeholder="UserId"
      />
      <input
        required
        class="input"
        type="password"
        name="password"
        [(ngModel)]="loginInfo.password"
        id="password"
        placeholder="Password"
      />
      <span class="forgot-password">
        <a routerLink="signup">Create an Account</a>
      </span>
      <span class="forgot-password">
        <a [routerLink]="['/password']">Forgot password?</a>
      </span>
      <button class="login-button" type="submit">Sign In</button>
    </form>
  </div>
</section>
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

